{% extends 'tpl.container.twig' %}

{% import 'tpl.sidebar.twig' as sidebar %}
{% import 'tpl.topbar.twig' as topbar %}

{% block tpl_grid %}
	<div class="container-fluid">
		{{ sidebar.tpl_sidebar }}
		<div id="stage">
			{{ topbar.tpl_topbar }}
			<div id="content-container">
				<div id="content">
					<div class="report-table">
							<div class="header-content table-responsive">
								<table class="top-table report-duble">
									<tr>
										<td class="text-left">Deals:</td>
										<td class="text-right">{{companytotal.deals}}</td>
										<td class="text-left">Total Gross:</td>
										{# <td class="text-right">${{alltotal| number_format(2, '.', ',')}}</td> #}
										{% if '-' in companytotal.total_gross %}
											<td class="tnum text-danger">
											$({{companytotal.total_gross | replace({'-': ''}) | number_format(2, '.', ',') }})
											</td>
										{% else %}
											<td class="tnum">
											${{companytotal.total_gross | number_format(2, '.', ',')}}
											</td>
										{% endif %}
										<td class="text-left">Front End:</td>
										{# <td class="text-right">${{allfront| number_format(2, '.', ',')}}</td> #}
										{% if '-' in companytotal.frontend %}
											<td class="tnum text-danger">
											$({{companytotal.frontend | replace({'-': ''}) | number_format(2, '.', ',') }})
											</td>
										{% else %}
											<td class="tnum">
											${{companytotal.frontend | number_format(2, '.', ',')}}
											</td>
										{% endif %}
										<td class="text-left">Back End:</td>
										{# <td class="text-right">${{allback| number_format(2, '.', ',')}}</td> #}
										{% if '-' in companytotal.backend %}
											<td class="tnum text-danger">
											$({{companytotal.backend | replace({'-': ''}) | number_format(2, '.', ',') }})
											</td>
										{% else %}
											<td class="tnum">
											${{companytotal.backend | number_format(2, '.', ',')}}
											</td>
										{% endif %}
									</tr>
									<tr>
										<td class="text-left">Finance Deals:</td>
										<td class="text-right">{{companytotal.financed_deals}}</td>
										<td class="text-left">Amount Financed:</td>
										{# <td class="text-right">${{allfinanced| number_format(2, '.', ',')}}</td> #}
										{% if '-' in companytotal.financed_total %}
											<td class="tnum text-danger">
											$({{companytotal.financed_total | replace({'-': ''}) | number_format(2, '.', ',') }})
											</td>
										{% else %}
											<td class="tnum">
											${{companytotal.financed_total | number_format(2, '.', ',')}}
											</td>
										{% endif %}
										<td class="text-left">Funded:</td>
										{# <td class="text-right">${{funded| number_format(2, '.', ',')}}</td> #}
										{% if '-' in companytotal.funded_total %}
											<td class="tnum text-danger">
											$({{companytotal.funded_total | replace({'-': ''}) | number_format(2, '.', ',') }})
											</td>
										{% else %}
											<td class="tnum">
											${{companytotal.funded_total | number_format(2, '.', ',')}}
											</td>
										{% endif %}
										<td class="text-left">Unfunded:</td>
										{# <td class="text-right">${{unfunded| number_format(2, '.', ',')}}</td> #}
										{% if '-' in companytotal.unfunded_total %}
											<td class="tnum text-danger">
											$({{companytotal.unfunded_total | replace({'-': ''}) | number_format(2, '.', ',') }})
											</td>
										{% else %}
											<td class="tnum">
											${{companytotal.unfunded_total | number_format(2, '.', ',')}}
											</td>
										{% endif %}
									</tr>
									{% if projects.deals > 0 %}
										<tr>
											<td class="text-left">Projected Deals:</td>
											<td class="text-right">{{projects.deals}}</td>
											<td class="text-left">Projected Gross:</td>
											<td class="text-right">{{projects.total_gross}}</td>
											<td class="text-left">Projected Front End:</td>
											<td class="text-right">{{projects.frontend}}</td>
											<td class="text-left">Projected Back End:</td>
											<td class="text-right">{{projects.backend}}</td>
										</tr>
									{% endif %}
								</table>
							</div>
							<div class=" table-responsive">
								<table class="table table-striped report-duble-main  table-hover table-striped table-bordered sortable dataTable">
									<thead>
										<tr class="heading">
											<th class="txt-center sorttable_sorted_reverse">Date Sold <span id="sorttable_sortrevind">&nbsp;▴</span></th>
											<th class="txt-center">Client</th>
											<th class="txt-center">Stock</th>
											<th class="txt-center">Desk Manager</th>
											<th class="txt-center">Finance Person</th>
											<th class="tnum">Payable Gross</th>
											<th class="tnum">Front End</th>
											<th class="tnum">Back End</th>
											<th class="tnum">Holdback</th>
											<th class="tnum">Total Gross</th>
										</tr>
									</thead>
									<tbody>
										{% for vehicle in vehicles %}
											{# {% set total1 = front1 + back1 %} #}
											<tr class="deal-row" data-id="{{ vehicle.deal_id }}" style="border-bottom: 1px solid #dadada">
												<td class="txt-center">{{ vehicle.date_sold_f|date("m/d/Y") }}</td>
												<td class="txt-center"><a href="deals/view?id={{vehicle.dealid}}" onclick="viewLender({{ vehicle.lender_id }})">{{ vehicle.client_name }}</a></td>
												<td class="txt-center">{{ vehicle.stock }}</td>
												<td class="txt-center">{{ vehicle.deskmanager }}</td>
												<td class="txt-center">{{ vehicle.financeperson }}</td> 
												{# <td class="txt-center">${{ vehicle.payabel_gross| number_format(2, '.', ',') }}</td> #}
												{% if '-' in vehicle.payable_gross %}
													<td class="tnum text-danger">
													$({{vehicle.payable_gross | replace({'-': ''}) | number_format(2, '.', ',') }})
													</td>
												{% else %}
													<td class="tnum">
													${{vehicle.payable_gross | number_format(2, '.', ',')}}
													</td>
												{% endif %}
												{# <td class="txt-center">${{ front1| number_format(2, '.', ',') }}</td> #}
												{% if '-' in vehicle.frontend %}
													<td class="tnum text-danger">
													$({{vehicle.frontend | replace({'-': ''}) | number_format(2, '.', ',') }})
													</td>
												{% else %}
													<td class="tnum">
													${{vehicle.frontend | number_format(2, '.', ',')}}
													</td>
												{% endif %}
												{# <td class="txt-center">${{ back1| number_format(2, '.', ',') }}</td> #}
												{% if '-' in vehicle.backend %}
													<td class="tnum text-danger">
													$({{vehicle.backend | replace({'-': ''}) | number_format(2, '.', ',') }})
													</td>
												{% else %}
													<td class="tnum">
													${{vehicle.backend | number_format(2, '.', ',')}}
													</td>
												{% endif %}
												<td class="tnum">{{ vehicle.holdback }}</td>
												{# <td class="txt-center">${{ total1| number_format(2, '.', ',') }}</td>  #}
												{% if '-' in vehicle.total_gross %}
													<td class="tnum text-danger">
													$({{vehicle.total_gross | replace({'-': ''}) | number_format(2, '.', ',') }})
													</td>
												{% else %}
													<td class="tnum">
													${{vehicle.total_gross | number_format(2, '.', ',')}}
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
									<tfoot>
										<tr style="border: 1px solid #000000">
											<th class="txt-center">TOTAL</th>
											<th></th>
											<th class="txt-center">{{companytotal.deals}}</th>
											<th></th>
											<th></th>
											{# <th class="tnum">${{VehicleTotal| number_format(2, '.', ',')}}</th> #}
											{% if '-' in companytotal.payable_gross %}
												<th class="tnum text-danger">
												$({{companytotal.payable_gross | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{companytotal.payable_gross | number_format(2, '.', ',')}}
												</th>
											{% endif %}
											{# <th class="tnum">${{allfront| number_format(2, '.', ',')}}</th> #}
											{% if '-' in companytotal.frontend %}
												<th class="tnum text-danger">
												$({{companytotal.frontend | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{companytotal.frontend | number_format(2, '.', ',')}}
												</th>
											{% endif %}
											{# <th class="tnum">${{allback| number_format(2, '.', ',')}}</th> #}
											{% if '-' in companytotal.backend %}
												<th class="tnum text-danger">
												$({{companytotal.backend | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{companytotal.backend | number_format(2, '.', ',')}}
												</th>
											{% endif %}
											<th></th>
											{# <th class="tnum">${{alltotal| number_format(2, '.', ',')}}</th> #}
											{% if '-' in companytotal.total_gross %}
												<th class="tnum text-danger">
												$({{companytotal.total_gross | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{companytotal.total_gross | number_format(2, '.', ',')}}
												</th>
											{% endif %}
										</tr>
										<tr style="border: 1px solid #000000">
											<th class="txt-center">Average</th>
											<th></th>
											<th class="txt-center"></th>
											<th></th>
											<th></th>
											{# <th class="tnum">${{average| number_format(2, '.', ',')}}</th> #}
											{% if '-' in companytotal.payable_gross_average %}
												<th class="tnum text-danger">
												$({{companytotal.payable_gross_average | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{companytotal.payable_gross_average | number_format(2, '.', ',')}}
												</th>
											{% endif %}
											{# <th class="tnum">${{frontaverage| number_format(2, '.', ',')}}</th> #}
											{% if '-' in companytotal.frontend_average %}
												<th class="tnum text-danger">
												$({{companytotal.frontend_average | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{companytotal.frontend_average | number_format(2, '.', ',')}}
												</th>
											{% endif %}
											{# <th class="tnum">${{backaverage| number_format(2, '.', ',')}}</th> #}
											{% if '-' in companytotal.backend_average %}
												<th class="tnum text-danger">
												$({{companytotal.backend_average | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{companytotal.backend_average | number_format(2, '.', ',')}}
												</th>
											{% endif %}
											<th></th>
											{# <th class="tnum">${{totalaverage| number_format(2, '.', ',')}}</th> #}
											{% if 0 > (companytotal.total_gross / companytotal.total_gross_average) %}
												<th class="tnum text-danger">
												$({{(companytotal.total_gross / companytotal.total_gross_average) | replace({'-': ''}) | number_format(2, '.', ',') }})
												</th>
											{% else %}
												<th class="tnum">
												${{(companytotal.total_gross / companytotal.total_gross_average) | number_format(2, '.', ',')}}
												</th>
											{% endif %}
										</tr>
										{% if projects.deals > 0 %}
											<tr style="border: 1px solid #000000">
												<th class="txt-center">Projected</th>
												<th></th>
												<th class="txt-center">{{projects.deals}}</th>
												<th></th>
												<th></th>
												<th class="tnum">{{projects.payable_gross}}</th>
												<th class="tnum">{{projects.frontend}}</th>
												<th class="tnum">{{projects.backend}}</th>
												<th></th>
												<th class="tnum">{{projects.total_gross}}</th>
											</tr>
										{% endif %}
									</tfoot>
								</table>
							</div>
						<div class="modal fade" id="myModal" role="dialog">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
									<h3 class="modal-title1">Notes</h3>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
									<div class="modal-body">
									<p id = "NotesPanel">Some text in the modal.</p>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						<script>
							function showModal (NotesString) {
								document.getElementById("NotesPanel").innerHTML = NotesString;
							}
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}