{% extends 'tpl.container.twig' %}
{% import 'tpl.sidebar.twig' as sidebar %}
{% import 'forms/tpl.topbarNoPrint.twig' as topbar %}

{% block tpl_grid %}
	<div class="container-fluid">
		{{ sidebar.tpl_sidebar }}
		<div id="stage">
			{{ topbar.tpl_topbar }}
			<div id="content-container">
				<div id="content">
					<div class="container content-header m-2">

						<div class="row">

							<div class="col-sm-12 col-md-4 col-xl-3">
								<a href="/superuser/customers?action=new" class="btn btn-primary">
									<i class="fas fa-plus-circle"></i> New Company
								</a>
							</div>
							<div class="col-sm-12 col-md-8 col-xl-9">
								{#<div class="search" style ="margin-top:5px; float:right">
									<form id="company_search" name="search" action ="/superuser/customers" method="GET" style="margin-block-end: 0em;">
										<input type="text" name="name" placeholder="Search Company..."{% if search_company %} value="{{ search_company }}"{% endif %} />
										<i class="fas fa-search" onclick="document.getElementById('company_search').submit();"></i>
									</form>
								</div>#}
								<div class="search float-right">
									<input type="text" id="myInputTextField" name="name" placeholder="Search..."/>
									<i class="fas fa-search"></i>
								</div>

							</div>

						</div>

					</div>
					
					<div class="report-table table-responsive">
						{#<table class="table table-striped" id = "myTable">
							<tr>
								<th onclick="sortTable($(this), 'name')">Company Name</th>
								<th onclick="sortTable($(this), 'contact')">Credit Card</th>
								<th onclick="sortTable($(this), 'phone_main')">Subscription Type</th>
								<th onclick="sortTable($(this), 'phone_contact')">Stripe ID</th>
								<th onclick="sortTable($(this), 'status')">Status</th>
								<th onclick="sortTable($(this), 'username')">Bill Status</th>
								<th onclick="sortTable($(this), 'last_login')">Last Charge</th>
							<tr>
							{% for customer in customers %}
								<tr class="customer-row" data-id="{{ customer.id }}">
									<td>{{ customer.name }}</td>
									<td>{{ customer.contact }}</td>
									<td>{{ customer.phone_main }}</td>
									<td>{{ customer.phone_contact }}</td>
									<td>{{ customer.status }}</td>
									<td>{{ customer.username }}</td>
									<td>{{ customer.last_login }}</td>
								</tr>
							{% endfor %}
						</table>#}

						<table class="table table-striped table-bordered dt-responsive nowrap no-footer CustomersBillTable" id = "myTable">
							<thead>
								<tr>
									<th>Company Name</th>
									<th>Credit Card</th>
									<th>Subscription Type</th>
									<th>Stripe ID</th>
									<th>Status</th>
									<th>Bill Status</th>
									<th>Last Charge</th>
								</tr>
							</thead>
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
	var field = 'name';
	var direction = 'ASC';
	$(document).ready(function(){
		$("#content").scroll(function(){
			var element = document.getElementById("content");
			var element = event.target;
			if (element.scrollHeight - element.scrollTop === element.clientHeight)
			{
				var row_count = $(".customer-row").length;
				$.get("",
					{
						field : field,
						direction : direction,
						row_count : row_count,
						type : 'pagination'
					},
					function(data){
						data = JSON.parse(data);
						if(data != null)
						appendTable(data, 'pagination');
				});
			}
		});
	});
	function appendTable(data, type) {
		var content = "";
		for(var i=0; i < data.length; i++){
			content +=		`<tr class="customer-row" data-id="`+ data[i]['id'] + ` ">`+
				`<td>`+ data[i]['name'] + `</td>`+
				`<td>`+ data[i]['contact'] + ` </td>`+
				`<td>`+ data[i]['phone_main'] + ` </td>`+
				`<td>`+ data[i]['phone_contact'] + ` </td>`+
				`<td>`+ data[i]['status'] + ` </td>`+
				`<td>`+ data[i]['username'] + ` </td>`+
				`<td>`+ data[i]['last_login'] + ` </td>`+
			`</tr>`;
		}
		if(type == 'pagination'){
			$("#myTable tbody").append(content);
		}
		else if(type == 'sort'){
			$('.customer-row').remove();
			$("#myTable tbody").append(content);
		}
		changeTDStyle();
	}

	function sortTable(td, n) {

		field = n;
		var data = td.children().first();
		if(data.length == 0){
			td.html(td.text() + ' ' + '<i class="fas "></i>');
			data = td.children().first();
		}
		if(!data.hasClass('fa-caret-up') && !data.hasClass('fa-caret-down'))
		{
			$("#myTable .fa-caret-up, #myTable .fa-caret-down").each(function(){
				$(this).removeClass('fa-caret-up');
				$(this).removeClass('fa-caret-down');
			});
			data.addClass('fa-caret-down');
			direction = 'DESC';
		}else{
			if(data.hasClass('fa-caret-up')) 
			{
				$("#myTable .fa-caret-up, #myTable .fa-caret-down").each(function(){
					$(this).removeClass('fa-caret-up');
					$(this).removeClass('fa-caret-down');
				});
				
				data.removeClass('fa-caret-up'); 
				data.addClass('fa-caret-down');
				direction = 'DESC';

			}
			else 
			{
				$("#myTable .fa-caret-up, #myTable .fa-caret-down").each(function(){
					$(this).removeClass('fa-caret-up');
					$(this).removeClass('fa-caret-down');
				});

				data.removeClass('fa-caret-down');
				data.addClass('fa-caret-up');
				direction = 'ASC';
			}
		}

			$.get("",
				{
					field : field,
					direction : direction,
					row_count : 0,
					type : 'sort'
				},
				function(data){
					data = JSON.parse(data);
					if(data != null)
					appendTable(data, 'sort');
			});
	}
</script>
{% endblock %}